doctype html
head
    link(rel='stylesheet', href='/css/login.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="icon", type="image/png", href="/images/logo.PNG")
    title Multicorder Beta Login
    script(src="https://use.fontawesome.com/2a83c619b3.js")
body
    #main
        #curtain
            .centered.vertical-center 
                #loader
                    img#loading(src="/images/animation-blue.gif", style="height:100px;")
                #login
                    #input-container      
                        #username-container.hover
                            span#username-placeholder Username
                            span#username(contentEditable="true")
                        #password-container.hover
                            span#password-placeholder Password
                            input#password(type="password")
                        #message-container(style="display:none;position:absolute;top:100%;left:0")
                            i.fa.fa-info-circle
                            span#message &nbsp;Incorrect login
                    #button-container 
                        i.fa.fa-chevron-right#login-button(aria-hidden="true")
        #primary.toolbar.wait
            span.option.selected#my-feed
                span My Feed
                i.fa.fa-th-list
            span.option#my-experiments
                span My Experiments
                i.fa.fa-flask
            span.option
                span My Devices
                i.fa.fa-wrench
            span.option 
                span My Account
                i.fa.fa-user-md
            span#logout.option.bottom
                span Logout
                i.fa.fa-sign-out
        #app
            #secondary.toolbar 
                span#new-experiment.option 
                    span New Experiment
                    i.fa.fa-pencil 
            #minor.toolbar
                span.option.selected.part-selector(data-target="0")
                    span Problem
                    i.fa.fa-question-circle-o
                span.option.part-selector(data-target="1")
                    span Hypothesis
                    i.fa.fa-commenting-o
                span.option.part-selector(data-target="2")
                    span Materials
                    i.fa.fa-magnet
                span.option.part-selector(data-target="3")
                    span Procedure
                    i.fa.fa-book
                span.option.part-selector(data-target="4")
                    span Data Analysis
                    i.fa.fa-bar-chart
                span.option.part-selector(data-target="5")
                    span Conclusion
                    i.fa.fa-check-square-o
                span.option.bottom
                    span Preferences
                    i.fa.fa-cog
            #appbody
                


    script(src="/js/login-bundle.js")
