include cards/index.pug
doctype html
head
  link(rel='stylesheet', href='/css/index.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(rel="icon", type="image/png", href="images/logo.PNG")
  title The Multicorder
  script(src="https://use.fontawesome.com/2a83c619b3.js")
body
  div.container-fluid
    div.row#filter(onclick="destroyPopover()")
      div.col-md-6.col-md-offset-3#popup
        div.card-header
          span.card-header-name#popup-name
          span.card-header-tools
            i.fa.fa-times(aria-hidden="true", onclick="destroyPopover()")
        div.card-body#popup-body
    div.row
      div.col-md-12.vertical-container#title-container
        div.centered.vertical-center#title
          img(src="images/logo.PNG")
          span.header The Multicorder
        div.float-down#title-footer
          span#title-footer-item-left
            a.no-style(href="#multicorder") What's Multicorder?
          span#title-footer-item-left
            a.no-style(href="#products") Products
          span#title-footer-item-left 
            a.no-style(href="#news") News
          span#title-footer-item-right
            a.no-style(href="http://twitter.com/multicorder", target="_blank")
              i(class="fa fa-twitter", aria-hidden="true")
          span#title-footer-item-right
            i(class="fa fa-facebook" aria-hidden="true")
          span#title-footer-item-right
            a.no-style(href="mailto:teddy@embi.io")
              i(class="fa fa-envelope" aria-hidden="true")
    div.row#multicorder
      div.col-md-8.col-md-offset-2
        span.header What's Multicorder?
        div.card.imaged
          div.card-image-header
            div.placeholder-background
                img(src="images/app.png")
          div.card-header
            span.card-header-name Hi, Multicorder!
            span.card-header-tools
              i(class="fa fa-minus-square-o", aria-hidden="true", onclick="deleteCard(this)")
          div.card-body
            p
              | The Multicorder experimental science education platform brings the power of the laboratory
              | into your classroom, bedroom and dormroom!
        div.card
            div.card-header
                span.card-header-name Multicorder's Features
                span.card-header-tools
                    i(class="fa fa-minus-square-o", aria-hidden="true", onclick="deleteCard(this)")
            div.card-body
                p
                    | The Multicorder platform includes a versitile, yet easy-to-learn digital 
                    | science sensing device which offers integration with both a mobile and desktop application.
                    | The Multicorder also offers collaboration and sharing capabilities with our powerful 
                    | cloud API.

    div.row#news
      div.col-md-8.col-md-offset-2
        span.header News
        div.card
          div.card-header
            span.card-header-name Looking for Multicorder Updates?
          div.card-body(style="text-align:center;")
            p 
                | Join our mailing list to keep in the loop about upcoming events, cool news, and updates on our progress!
            input#email(type="email", placeholder="science@supporter.com", style="padding:20px;font-size:18px;border: 1px solid #ddd;")
            button(style="padding:20px;margin-left:20px;border:none", onclick="addSubscriber();") Keep me posted!
            span#error(style="display:none;color:#cc0000;margin-top:20px;") Something went wrong
            span#good(style="display:none;color:#6cc070;margin-top:20px;") Thanks for joining, you'll receive an email soon!
        div.row
            div.col-md-6
                div.card.imaged(style="cursor:pointer;", onclick="window.location='http://google.com';")
                    div.card-image-header
                        img(src="images/blog.PNG")
                    div.card-header Visit our Blog
                    div.card-body
                        | For the most up-to-date information about our progress and any other exciting
                        | news, head on over to our blog!
            div.col-md-6
                div.card.imaged(style="cursor:pointer;", onclick="window.location='http://facebook.com/multicorder';")
                    div.card-image-header
                        img(src="images/social.png")
                    div.card-header Follow us on Social Media
                    div.card-body
                        | Follow us on Twitter and Facebook to be the first to know about upcoming events
                        | and announcements!
            

    div.row#footer(style="margin-top:20px")
      div.col-md-8.col-md-offset-2
        div.card
          div.card-body(style="text-align:center;font-size:14px")
            div Multicorder Science, Inc. &copy;2017
            div 
                | Contact Us:&nbsp;
                a(href="mailto:team@multicorder.io")
                    i(class="fa fa-envelope" aria-hidden="true")
                    | &nbsp;team@multicorder.io
            
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
  script(src="/js/global.js")
  script(src="/js/index.js")
