include cards/index.pug
doctype html
head
  link(rel='stylesheet', href='/css/index.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(rel="icon", type="image/png", href="images/logo.PNG")
  title The Multicorder
  script(src="https://use.fontawesome.com/2a83c619b3.js")
  style 
    | .mce_inline_error:not(input) { font-size:18px !important; background: transparent !important; color : #FF9494 !important; font-weight: 400 !important; position:absolute}
body
  div.container-fluid
    div.row.close-popover#filter
      div.col-md-6.col-md-offset-3#popup
        div.card-header
          span.card-header-name#popup-name
          span.card-header-tools
            i.fa.fa-times.close-popover(aria-hidden="true")
        div.card-body#popup-body
    div.row
      div.col-md-12.vertical-container#title-container
        div.centered.vertical-center#title
          img(src="images/logo.PNG")
          span.header The Multicorder
        div.float-down#title-footer
          span#title-footer-item-left
            a.no-style.smooth(href="#multicorder") What's Multicorder?
          span#title-footer-item-left
            a.no-style.smooth(href="#products") Products
          span#title-footer-item-left 
            a.no-style.smooth(href="#news") News
          span#title-footer-item-right
            a.no-style(href="http://twitter.com/multicorder", target="_blank")
              i(class="fa fa-twitter", aria-hidden="true")
          span#title-footer-item-right
            a.no-style(href="http://facebook.com/multicorder", target="_blank")
                i(class="fa fa-facebook" aria-hidden="true")
          span#title-footer-item-right
            a.no-style(href="mailto:teddy@embi.io")
              i(class="fa fa-envelope" aria-hidden="true")
    div.row#body
        div.col-md-8.col-md-offset-2
            // Multicorder
            div.col-md-12#multicorder
                span.header What's Multicorder?
                
            div.card.imaged.col-md-12
                div.card-image-header
                    div.placeholder-background
                        img(src="images/app.png")
                div.card-header
                    span.card-header-name Hi, Multicorder!
                    span.card-header-tools
                        i.delete-card(class="fa fa-minus-square-o", aria-hidden="true")
                div.card-body
                    p
                        | The Multicorder experimental science education platform brings the power of the laboratory
                        | into your classroom, bedroom and dormroom!
            
            div.card.col-md-12
                div.card-header
                    span.card-header-name Multicorder's Features
                    span.card-header-tools
                        i.delete-card(class="fa fa-minus-square-o", aria-hidden="true")
                div.card-body
                    p
                        | The Multicorder platform includes a versitile, yet easy-to-learn digital 
                        | science sensing device integrated with both a mobile and desktop application.
                        | The Multicorder also offers collaboration and sharing capabilities with our powerful 
                        | cloud API.
        
            // Products
            div.col-md-12#products
                span.header Products
            div.card.col-md-12
                div.card-header
                    span.card-header-name Products and Pricing
                    span.card-header-tools
                        i.delete-card(class="fa fa-minus-square-o", aria-hidden="true")
                div.card-body(style="text-align:center;")
                    p 
                        | We offer dynamic and flexible pricing options for our products for a wide variety
                        | of customer types and needs.
            
            div.card.col-md-6
                div.card-header 
                    span.card-header-name Individuals
                    span.card-header-tools
                        i.delete-card(class="fa fa-minus-square-o", aria-hidden="true") 
                div.card-body
                    | We sell our hardware platform for individual purchase along with a lifetime subscription
                    | to individual software liscences.  Prices for the Multicorder start at 
                    b $29.99
            
            div.card.col-md-6
                div.card-header 
                    span.card-header-name Institutions
                    span.card-header-tools
                        i.delete-card(class="fa fa-minus-square-o", aria-hidden="true")
                div.card-body
                    | Classrooms and larger institutions (like schools) can also purchase our hardware 
                    | at a discounted bulk price, along with a monthly subscription of our 
                    | classroom software liscence, which includes helpful tools such as private servers and 
                    | and lesson planners.  Subscriptions start as low as 
                    b $5 / month.

            //News Section
            div.col-md-12#news
                span.header News
            div.card.col-md-12
                div.card-header
                    span.card-header-name Looking for Multicorder Updates?
                div.card-body(style="text-align:center;")
                    p
                        | Join our mailing list to keep in the loop about upcoming events, cool news, 
                        | and updates on our progress!
                    #mc_embed_signup
                        form#mc-embedded-subscribe-form.validate(action='//multicorder.us16.list-manage.com/subscribe/post?u=61014d92823d366b613a84543&id=76c73531c8', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            #mc_embed_signup_scroll
                                .mc-field-group(style='display:inline-block;')
                                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='science@science.com')
                                input(type='text', name='b_61014d92823d366b613a84543_76c73531c8', tabindex='-1', value='', style='position:absolute;left:-5000px;', aria-hidden='true')
                                .clear(style='display:inline-block;')
                                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe', style='margin-left:20px;')
                                #mce-responses.clear
                                    #mce-error-response.response(style='display:none;font-size:18px;color:#FF9494;width:50%;display:inline-block;padding-top:5px;')
                                    #mce-success-response.response(style='display:none;font-size:18px;color:#6cc070;width:50%;display:inline-block;padding-top:5px;')
                                        
            div.card.imaged.col-md-6(style="cursor:pointer;", onclick="window.location='http://google.com';")
                div.card-image-header
                    img(src="images/blog.PNG")
                div.card-header Visit our Blog
                div.card-body
                    | For the most up-to-date information about our progress and any other exciting
                    | news, head on over to our blog!
            
            div.card.imaged.col-md-6(style="cursor:pointer;", onclick="window.location='http://facebook.com/multicorder';")
                div.card-image-header
                    img(src="images/social.png")
                div.card-header Follow us on Social Media
                div.card-body
                    | Follow us on Twitter and Facebook to be the first to know about upcoming events
                    | and announcements!
            
            //Footer
            div.card.col-md-12#footer
                div.card-body(style="text-align:center;font-size:14px")
                    div Multicorder Science, Inc. &copy;2017
                    div 
                        | Contact Us:&nbsp;
                        a(href="mailto:team@multicorder.io")
                            i(class="fa fa-envelope" aria-hidden="true")
                            | &nbsp;team@multicorder.io
            
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
  //script(src="/js/global.js")
  script(src="/js/index.js")
  script(src="/js/bundle.js")
  script(src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
  script (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);