div.row#platform
      div.col-md-8.col-md-offset-2
        span.header Our Platform
        div#placeholder
        div#nav.relative
          span.first(onclick="filterClick(this, 'Problem')") PROBLEM
          span(onclick="filterClick(this, 'Hypothesis')") HYPOTHESIS
          span(onclick="filterClick(this, 'Materials')") MATERIALS
          span(onclick="filterClick(this, 'Experiment')") EXPERIMENT
          span(onclick="filterClick(this, 'DataAnalysis')") DATA ANALYSIS
          span(onclick="filterClick(this, 'Conclusions')") CONCLUSIONS
          
        each card in experiment.cards 
          if card.name == "Independent Variable" || card.name == "Dependent Variable" 
            +variable(card, description, tools)
          else 
            +default(card, description, tools)