div#feedback-modal.modal.fade.modal(tabindex="-1" role="dialog")
    div.modal-dialog
        div.modal-content
            form
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title.text-center Any questions, comments, or feedback for us?
                div.modal-body
                    div.content-fluid
                        div.row
                            div.col-md-12
                                div.form-group
                                    div.col-sm-2
                                        label.control-label.feedback-label(for="email") Email
                                    div.col-sm-10
                                        input#email.feedback-input(type="email", name="email", value="")
                                div.form-group
                                    label.col-sm-2.control-label.feedback-label(for="message") Message
                                    div.col-sm-10
                                        textarea#feedback.feedback-input(rows="4", name="message")
                            div.form-group
                                div.col-sm-10.col-sm-offset-2
                                    input#submitbtn.btn-primary.pull-right(name="submit", type="submit", value="Send", style="background-color:#399FFF;border-color:#399FFF")
