div.panel.panel-default.footer#footer
    div.panel-body(style="text-align:center")
        p
            a(href="/about") About &nbsp;&bull;&nbsp;
            a(href="#feedback-modal" data-toggle="modal") Feedback
            br
            a(href="#") Privacy and Terms &nbsp;&bull;&nbsp;
            a(href="/advertise") Advertise
            br
            a#tutorial(href="#") Learn trendGit
        div.font-light(style="text-align:center") trendGit &copy; 2015
