div#left-div.col-md-3.left-div
    div.panel.panel-default.logged-out
        div.panel-heading
            h4 Trending Recommendations
                span#reco-control.caret.minimize
        div#reco.panel-body(style = "padding:0;")
            ul.list(style = "padding:15px;")
                li: a(href="#") Restaurants in Brooklyn Heights, Brooklyn, NY
                li: a(href="#") Traffic Reports Brooklyn-Queens Expressway
                li: a(href="#") MLB Baseball Scores
    div.panel.panel-default.logged-out
        div.panel-heading
            h4 Trending Nearby
                span#loco-control.caret.minimize
        div#loco.panel-body.minimization(style = "padding:0;")
            ul(style="list-style-type:none;padding:15px;")
                li
                    span.glyphicon.glyphicon-menu-right(style="color:#399FFF", aria-hidden="true") &nbsp;
                        a(href="#") Elmhurst, NY
                li
                    span.glyphicon.glyphicon-menu-right(style="color:#399FFF", aria-hidden="true") &nbsp;
                        a(href="#") Forest Hills, NY
                li
                    span.glyphicon.glyphicon-menu-right(style="color:#399FFF", aria-hidden="true") &nbsp;
                        a(href="#") Woodside, NY
                li
                    span.glyphicon.glyphicon-menu-right(style="color:#399FFF", aria-hidden="true") &nbsp;
                        a(href="#") Corona, NY
                li
                    span.glyphicon.glyphicon-menu-right(style="color:#399FFF", aria-hidden="true") &nbsp;
                        a(href="#") College Point, NY
