#tutorial-canvas
    .tutorial-frame.frame1.active-frame
        .title.title-centered
            | Hello there! Welcome to trendGit!
        button.btn.btn-primary.btn-tutorial#frame2: b Hello!
    .tutorial-frame.frame2
        .title.title-centered
            | What is trendGit you ask?
            | trendGit is a new type of website and app that uses your unique behavior, called a trend, to better serve your internet experience.
        button.btn.btn-primary.btn-tutorial#frame3: b Huh?
    .tutorial-frame.frame3
        .title.title-centered
            | Maybe it would be better if I show you what I mean.
        button.btn.btn-primary.btn-tutorial#frame4(value="Hide"): b Show away!
    .tutorial-frame.frame4
        .tutorial-filter#highlight-body
        .title.title-bottom-left.black
            | This is your feed, it is personalized for you based on your browsing behavior (your trend)
        button.btn.btn-primary.btn-tutorial#frame5: b OK...
        .tutorial-filter#highlight-feed-body
    .tutorial-frame.frame5
        .title.title-top-left.black
            | These are posts, the meat and potatos of trendGit, they are user generated "blurbs" of information.  They can be about anything!
        button.btn.btn-primary.btn-tutorial#frame6: b I get it
    .tutorial-frame.frame6
        .tutorial-filter#highlight-feed-body
        .title.title-top-left.black
            | But beware! On trendGit, only useful information that other people may need will become popular. (So no funny cat videos)
        button.btn.btn-primary.btn-tutorial#frame7: b I have been warned
    .tutorial-frame.frame7
        .tutorial-filter#highlight-uptrend
        .title.title-top-left
            | If you really like a post, you can "up-trend" it by clicking this button.  By doing so, you can both help us track your trend, but
            | also the popularity of the post and user who posted it.
        button.btn.btn-primary.btn-tutorial#frame8: b I will do that
    .tutorial-frame.frame8
        .tutorial-filter#highlight-panel-control
        .title.title-bottom-left
            | You can filter your feed manually based on location and post time up here using the control panel
        button.btn.btn-primary.btn-tutorial#frame9: b I understand
    .tutorial-frame.frame9
        .tutorial-filter#highlight-btn-post-modal
        .title.title-bottom-left
            | You can post here, but again, beware, you can only post once every hour so think carefully before posting
        button.btn.btn-primary.btn-tutorial#frame10: b I have been warned
    .tutorial-frame.frame10
        .tutorial-filter#highlight-navbar-search
        .title.title-bottom-left
            | You can also search posts using this handy search bar.  Use the button to the left to help refine your searches.
        button.btn.btn-primary.btn-tutorial#frame11: b Sounds Good!
    .tutorial-frame.frame11
        .tutorial-filter#highlight-right-buttons
        .title.title-top-left
            | If you have not already done so, you can make an account and login over here.
        button.btn.btn-primary.btn-tutorial#frame12: b OK great!
    .tutorial-frame.frame12
        .tutorial-filter#highlight-cool-kids
        .class.title.title-bottom-left
            | Over here, we list the names of the cool kids on the block. Try to up your popularity by making posts that everyone can enjoy!
        button.btn.btn-primary.btn-tutorial#frame13: b Sounds Good!
    .tutorial-frame.frame13
        .tutorial-filter#highlight-footer
        .title.title-centered
            | Other than that, I think you can figure it out from here. If you need more help, open up this tutorial again downhere.
        button.btn.btn-primary.btn-tutorial#frame14(value = "Show"): b Thank you!
    .tutorial-frame.frame14
        .title.title-centered
            | Just beware, we DO track your behavior on this site.  But, before you run screaming, "Big Brother," please know that we share you information with no one!  Learn more about how we use your information in our "Privacy and Terms."
        button.btn.btn-primary.btn-tutorial#frame15: b OK
    .tutorial-frame.frame15
        .title.title-centered
            | Thanks for using trendGit.  Happy trending!
        button.btn.btn-primary.btn-tutorial#frame16(value = "End"): b I will
