doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        title trendGit - 404
        link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
        link(rel='stylesheet', type='text/css', href='/css/404.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top.filler(role='navigation')
            .error404
                strong 404
                |  Error: There's no page here, silly!
            .navbar-header
        script(src='/js/404.js')
