.card {
    background: #fff;
    border-right: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
    min-height: 20px;
    padding: 5px !important;
    margin: 15px 5px;
    overflow: hidden;
    animation: appear 0.5s;
    animation-iteration-count: 1;
}

.card-image-header {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    overflow: hidden;
}

.card-image-header img {
    margin: -5px;
    width: 100%;
}

.card-header {
    margin: 5px;
    border-bottom: 1px solid #DDD;
    font-family: "Helvetica", sans-serif;
    padding: 5px;
    font-size: 22px;
    color: #080808;
    overflow: hidden;
}

.card-header-name {
    float: left;
}

.card-header-tools {
    float: right;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.card-header-tools i {
    margin-left: 10px;
}

.card-header-tools i:hover {
    color: #808080;
}

.card-body {
    margin: 5px;
    padding: 5px;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    text-align: left;
}

    .card-body textarea {
        font-size: 18px !important;
        width: calc(100% - 20px);
        margin: 5px;
        padding: 1px 10px;
        font-family: "Helvetica", sans-serif;
        font-size: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #AAA;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 10px;
        resize: none;
        outline: none !important;
        transition: border-bottom-color 0.5s;
    }

    .card-body textarea:focus {
        border-bottom-color: #000;
    }

    .card-body textarea + div {
        font-size: 14px;
        color: #AAA;
        margin-top: -3px;
        padding-left: 3px;
        transition: color 0.5s;
    }

    .card-body textarea:focus + div {
        color: #000;
    }

    .card-body input[type=text] {
        border-bottom: 1px solid #AAA !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        outline: none !important;
        transition: border-bottom 0.5s;
        padding-bottom: 1px !important;
        width: 50%;
        font-size: 16px;
    }

    .card-body input[type=text] + div {
        font-size: 14px;
        color: #AAA;
        margin-top: 0;
        transition: color 0.5s;
        padding-left: 3px;
    }

    .card-body input[type=text]:focus {
        border-bottom: 1px solid #000 !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    .card-body input[type=text]:focus + div {
        color: #000;
    }

    .card-body blockquote {
        margin-left: 10px;
        color: #555;
    }

    .card-body .sub {
        font-size: 16px;
        font-weight: 200;
    }

    .card-body p {
        margin-bottom: 0;
    }

.imaged .card-image-header img {
    transition: transform 0.5s;
}

.imaged:hover .card-image-header img {
    transform: scale(1.2);
}

.card-footer {
    background: #DDD;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 20px;
}

@keyframes appear {
    from {
        max-height: 0;
        opacity: 0;
    }
    to { 
        max-height: 1000px;
        opacity: 1;
    }
}